* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  vertical-align: baseline;
}

#wrapper {
  background-color: #333;
  color: #333;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 100px 0 !important;
}

#quote-box {
  border-radius: 3px;
  position: relative;
  width: 100%;
  max-width: 450px;
  padding: 40px 50px;
  display: table;
  background-color: #fff;
}

#text {
  text-align: center;
  width: 450px;
  height: auto;
  clear: both;
  font-weight: 500;
  font-size: 1.75em;
}

#author{
  width: 450px;
    height: auto;
    clear: both;
    padding-top: 20px;
    font-size: 1em;
    text-align: right;
}

.buttons {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  height: 38px;
  border: none;
  border-radius: 3px;
  color: #fff;
  outline: none;
  font-size: 0.85em;
  padding: 8px 18px 6px 18px;
  opacity: 1;
  cursor: pointer;
}

.button:hover, #tweet-quote:hover {
  opacity: 0.9;
}

#tweet-quote {
  border-radius: 3px;
  padding: 0px;
  text-align: center;
  font-size: 1.2em;
  height: 38px;
  width: 45px;
}

#tweet-icon {
  width: 20px;
  margin-top: 9px;
}
